

.root {
	/*Background panes */
	-fx-background-color: #424958;

    
    /*non open tabs and menu bar */
    -fx-base: black;
    
    /*Main tab pane and selected tab */
    -fx-background: #424958;
   
    -fx-text-fill: yellow;
}

.button {
	
	-fx-background-color: #455A64;
}

/*All label colors */
.label{
	-fx-text-fill: yellow;
}

