/* HexCodes */
/* #FFFFFF,  */

.root {
	/*Background panes */
	-fx-background-color: blue;
    
    /*non open tabs and menu bar */
    -fx-base: black;
    
    /*Main tab pane and selected tab */
    -fx-background: orange;
   
    -fx-text-fill: yellow;
}

.button {
	
	-fx-background-color: red;
}

/*All label colors */
.label{
	-fx-text-fill: yellow;
}

